n8n/workflows/email-sequencer.json
{
  "name": "Email Sequencer (Day 1 / 3 / 7)",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-0000-0000-000000000001",
      "name": "Daily 9am (Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0000-0000-000000000002",
      "name": "Get Step-1 Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 180],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8080/sequence-due",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "step", "value": "1"}]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0003-0000-0000-000000000003",
      "name": "Get Step-2 Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 320],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8080/sequence-due",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "step", "value": "2"}]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0004-0000-0000-000000000004",
      "name": "Get Step-3 Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 460],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8080/sequence-due",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "step", "value": "3"}]
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-0005-0000-0000-000000000005",
      "name": "Split Step-1 Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 180],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leads = $json.leads || [];\nreturn leads.map(l => ({ json: { ...l, step: 1 } }));"
      }
    },
    {
      "id": "b2c3d4e5-0006-0000-0000-000000000006",
      "name": "Split Step-2 Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 320],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leads = $json.leads || [];\nreturn leads.map(l => ({ json: { ...l, step: 2 } }));"
      }
    },
    {
      "id": "b2c3d4e5-0007-0000-0000-000000000007",
      "name": "Split Step-3 Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const leads = $json.leads || [];\nreturn leads.map(l => ({ json: { ...l, step: 3 } }));"
      }
    },
    {
      "id": "b2c3d4e5-0008-0000-0000-000000000008",
      "name": "Send Step-1 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [940, 180],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/send-email",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.id, step: 1 }) }}",
        "options": {"timeout": 120000}
      }
    },
    {
      "id": "b2c3d4e5-0009-0000-0000-000000000009",
      "name": "Send Step-2 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [940, 320],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/send-email",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.id, step: 2 }) }}",
        "options": {"timeout": 120000}
      }
    },
    {
      "id": "b2c3d4e5-0010-0000-0000-000000000010",
      "name": "Send Step-3 Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [940, 460],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/send-email",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_id: $json.id, step: 3 }) }}",
        "options": {"timeout": 120000}
      }
    }
  ],
  "connections": {
    "Daily 9am (Weekdays)": {
      "main": [
        [
          {"node": "Get Step-1 Due", "type": "main", "index": 0},
          {"node": "Get Step-2 Due", "type": "main", "index": 0},
          {"node": "Get Step-3 Due", "type": "main", "index": 0}
        ]
      ]
    },
    "Get Step-1 Due":  {"main": [[{"node": "Split Step-1 Leads", "type": "main", "index": 0}]]},
    "Get Step-2 Due":  {"main": [[{"node": "Split Step-2 Leads", "type": "main", "index": 0}]]},
    "Get Step-3 Due":  {"main": [[{"node": "Split Step-3 Leads", "type": "main", "index": 0}]]},
    "Split Step-1 Leads": {"main": [[{"node": "Send Step-1 Email", "type": "main", "index": 0}]]},
    "Split Step-2 Leads": {"main": [[{"node": "Send Step-2 Email", "type": "main", "index": 0}]]},
    "Split Step-3 Leads": {"main": [[{"node": "Send Step-3 Email", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "1"
}
