n8n/workflows/linkedin_daily_post.json
{"name": "RingCatch LinkedIn Daily Post", "description": "", "nodes": [{"id": "a1b2c3d4-0001-0001-0001-000000000001", "name": "Schedule 9AM Central M-F", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 300], "parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 14 * * 1-5"}]}}}, {"id": "a1b2c3d4-0001-0001-0001-000000000002", "name": "Pick Topic", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [470, 300], "parameters": {"jsCode": "const topics = [\n  'How AI chatbots help HVAC companies capture leads after hours when homeowners search for emergency repairs',\n  'Why missed calls cost local plumbers thousands \u2014 and how an AI assistant fixes it 24/7',\n  'How dental offices use AI chat to pre-qualify patients and fill appointment slots automatically',\n  'The ROI of 24/7 AI for local service businesses: stop losing leads to competitors who answer faster',\n  'Real estate agents: how AI chatbots pre-qualify buyer leads so you only talk to serious clients',\n  'Landscaping companies: turn website visitors into booked jobs with an AI that qualifies and follows up',\n  'Auto repair shops: how AI chat captures every online inquiry even when the front desk is slammed'\n];\nconst day = new Date().getDay();\nconst topic = topics[(day - 1 + 7) % topics.length];\nreturn [{json: {topic}}];"}}, {"id": "a1b2c3d4-0001-0001-0001-000000000003", "name": "Generate Post via Gemini", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [690, 300], "parameters": {"method": "POST", "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "contentType": "raw", "rawContentType": "application/json", "body": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"Write a LinkedIn post about: {{ $json.topic }}\"}]}],\"systemInstruction\":{\"parts\":[{\"text\":\"You write LinkedIn posts for RingCatch.io, an AI chatbot service for local service businesses. Posts are professional, 150-200 words, first person plural (we/our). End with 3-5 relevant hashtags. Return ONLY the post text, no intro.\"}]},\"generationConfig\":{\"maxOutputTokens\":2048,\"temperature\":0.85}}"}}, {"id": "a1b2c3d4-0001-0001-0001-000000000004", "name": "Extract Post Text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [910, 300], "parameters": {"jsCode": "const body = $input.item.json;\nconst text = body.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || '';\nif (!text) throw new Error('No content from Gemini: ' + JSON.stringify(body));\nreturn [{json: {postText: text}}];"}}, {"id": "a1b2c3d4-0001-0001-0001-000000000005", "name": "Post to LinkedIn Page", "type": "n8n-nodes-base.linkedIn", "typeVersion": 1, "position": [1130, 300], "parameters": {"person": "organization", "organizationId": "", "text": "={{ .postText }}", "additionalFields": {}}}], "connections": {"Schedule 9AM Central M-F": {"main": [[{"node": "Pick Topic", "type": "main", "index": 0}]]}, "Pick Topic": {"main": [[{"node": "Generate Post via Gemini", "type": "main", "index": 0}]]}, "Extract Post Text": {"main": [[{"node": "Post to LinkedIn Page", "type": "main", "index": 0}]]}, "Generate Post via Gemini": {"main": [[{"node": "Extract Post Text", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}, "staticData": null, "pinData": null}